{% block body %}
{% include 'header.html' %}



<div class="container mt-5">
    <h2 class = "text-center" style = "color : red ; font-weight : bold ;
     font-family : Castellar">" FILL DETAILS"</h2>
<form class="container mt-4" name="signup" method="post" enctype="multipart/form-data" onsubmit="return checkpass();">
    {% csrf_token %}
    <label><b>First Name</b></label>
    <input type = "text" name="ename" class="form-control" placeholder="Enter Your name"required>
    <label><b>Middle Name</b></label>
    <input type = "text" name="ename" class="form-control" placeholder="Enter Your name"required>
    <label><b>Last Name</b></label>
    <input type = "text" name="ename" class="form-control" placeholder="Enter Your name"required>

    <label><b>Gender:</b></label>
                <input type="radio" name="gender" value="male"> Male
                    <input type="radio" name="gender" value="female"> Female
           <div></div>

    <label><b>Projectname</b></label>
    <textarea class="form-control" name="description" placeholder="Enter Projectname" required></textarea>

    <label><b>DateOfBirth</b></label>
    <input type = "date" name="startdate" class="form-control" required>

    <label><b>Email ID(Email Address)</b></label>
    <textarea class="form-control" name="venue" placeholder="Enter Email Address" required></textarea>

    <label><b>Mobile No</b></label>
    <textarea class="form-control" name="venue" placeholder="Enter Mobile No" required></textarea>
    <label><b>Year of study</b></label>
    <textarea class="form-control" name="venue" placeholder="Enter Year of study" required></textarea>
    <label><b>Upload Resume</b></label>
    <input type="file" class="form-control" name="Resume"required>



    <input type="submit" value="Submit" class="btn btn-primary my-2" style="width:200px">
    </div>

</form>

{% endblock %}